@use '../../../Styles/variables'
@import '../../../Styles/mixins'

.firstDivFooterRight
  height: 100%
  width: 100%

.gitHubFooter
  display: flex
  justify-content: center
  height: 17%
  width: 90%

  .svgGithubFooter
    background-color: #fff
    border-radius: 50%
    margin-left: 0.9rem

  .btn-share-footer-github
    align-items: center
    cursor: pointer
    display: flex
    justify-content: flex-start
    gap: 2.1vw
    height: 100%
    width: 100%

.linkedinFooter-linkedin
  display: flex
  justify-content: center
  height: 17%
  width: 90%

  .svgLinkedinFooter
    margin-left: 0.5rem

  .btn-share-footer-linkedin
    align-items: center
    cursor: pointer
    display: flex
    justify-content: flex-start
    gap: 2vw
    height: 100%
    width: 100%

.instagramFooter
  display: flex
  justify-content: center
  height: 17%
  width: 90%

  .svgInstagramFooter
    margin-left: 1rem
    color: variables.$text-color

  .btn-share-footer-instagram
    align-items: center
    cursor: pointer
    display: flex
    justify-content: flex-start
    gap: 2.1vw
    height: 100%
    width: 100%

.emailFooter
  display: flex
  justify-content: center
  height: 17%
  width: 90%

  .btn-share-footer-email
    align-items: center
    cursor: pointer
    display: flex
    justify-content: flex-start
    gap: 2.3vw
    height: 100%
    width: 100%

    .svgEmailFooter
      margin-left: 1rem

.telegramFooter
  display: flex
  justify-content: center
  height: 17%
  width: 90%

  .btn-share-footer-telegram
    align-items: center
    cursor: pointer
    display: flex
    justify-content: flex-start
    gap: 2vw
    height: 100%
    width: 100%

    .svgTelegramFooter
      margin-left: 0.5rem

.pFooterRight
  color: variables.$text-color-secondary
  font-family: variables.$font-secondary
  font-size: 1rem
  font-weight: 600
  margin-left: 1.4rem
