@use '../../Styles/variables'
@import '../../Styles/mixins'

.firstDivImages

  a
    align-content: center
    align-items: center
    display: flex
    flex-direction: column
    height: 80%
    justify-content: center
    width: 10rem

  a:visited
    color: variables.$text-color

  .img_tBody
    align-self: center
    height: 60%
    width: 60%

  .pImgStacks
    font-size: 18px
    height: 100%
    padding-top: 0.5rem
    text-align: center
    width: 100%

  .reactNativeImg
    width: 10rem

  .pStrongLarge
    text-align: center
    width: 100%