@use '../../Styles/variables'
@import '../../Styles/mixins'

.firstDivImages
  align-items: center
  border: 1px solid green
  display: flex
  flex-direction: column
  justify-content: center
  width: 25vw
  img
    height: 90%
    width: 90%
