/* CSS Reset */

/* Box sizing border-box em todos os elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removendo margens e preenchimentos padrões */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Removendo estilos de lista padrões */
ol,
ul {
  list-style: none;
}

/* Definindo fonte padrão para o corpo */
body {
  font-family: Arial, sans-serif;
}

/* Removendo decoração de link padrão */
a {
  text-decoration: none;
}

/* Removendo estilos de tabela padrões */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Removendo estilo padrão para imagens */
img {
  max-width: 100%;
  display: block;
}

/* Removendo estilos de formulário padrões */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Adicione regras adicionais conforme necessário */

/* Estilos personalizados para o seu projeto */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
