@use '../variables'

.divAsideLeft
  // border: 1px solid green
  display: flex
  // flex-direction: column
  position: fixed
  top: 8.5rem

  .imgAsideLeft
    // border: 1px solid yellow
    align-self: center
    display: flex
    flex-direction: column
    justify-content: space-between

    .iAsideLeft
      // border: 1px solid white
      color: variables.$text-color-third
      height: 100%
      width: 100%

      .imageSVGAsideLeft
        // border: 1px dashed white
        cursor: pointer
        height: 4vh
        width: 4vh
        margin: 2rem 0 2rem -2rem
        opacity: 0.5
        transition: all 0.31s ease-in-out

      .imageSVGAsideLeft:hover
        border: 0.1vw solid #f6ff00ba
        border-radius: 50px
        color: variables.$text-color-third
        cursor: pointer
        height: 6vh
        opacity: 1
        padding: 9px
        transform: scale(1.5, 1.5)
        width: 6vh