@use '../variables'
@import '../mixins'

.divAsideLeft
  align-content: center
  align-items: center
  // border: 1px solid green
  display: flex
  flex-direction: column
  height: 35vh
  justify-content: space-evenly
  position: fixed
  top: 20rem
  left: 2rem
  width: 5vw

  .imgAsideLeft
    align-self: center
    display: flex
    flex-direction: column
    justify-content: center

    .item
      align-content: center
      align-items: center
      list-style-type: none
      display: flex
      justify-content: center

      .divLi1
        @include small-screen
        // background-color: yellow
        align-content: center
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center
        width: 4rem

      .divLi2
        @include small-screen
        // background-color: yellow
        align-content: center
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center

      .divLi3
        @include small-screen
        // background-color: yellow
        align-content: center
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center

      .iAsideLeft
        color: variables.$text-color-third
        height: 100%
        width: 100%
        @include small-screen

        .pAsideTopRedes
          @include small-screen
          text-decoration: none
          margin-bottom: -1.5rem
          margin-left: -2.5rem
          height: auto

        .imageSVGAsideLeft
          // border: 1px dashed white
          cursor: pointer
          height: 2rem
          width: 2rem
          margin: 2rem 0 2rem -2rem
          opacity: 0.5
          transition: all 0.31s ease-in-out

        .imageSVGAsideLeft:hover
          border: 0.1vw solid #f6ff00ba
          border-radius: 50px
          color: variables.$text-color-third
          cursor: pointer
          height: 6vh
          opacity: 1
          padding: 9px
          transform: scale(1.5, 1.5)
          width: 6vh
          @include small-screen
            border: 0
            border-radius: 0
            transform: scale(0, 0)
