@use '../variables'
@import '../mixins'

#footerAll
  align-items: center
  align-content: center
  background-color: rgb(255, 0, 0, 0.1)
  color: variables.$text-color
  display: flex
  flex-direction: column
  height: 70vh
  justify-content: center
  // margin-left: 4rem
  width: 100% !important

  .headerFooter
    height: 20% !important

  .divFooter
    align-items: center
    display: flex
    height: 20% !important
    justify-content: flex-end
    flex-direction: column
    width: 100%

  .maincontentFooter
    align-items: center
    height: 44.5vh !important
    display: flex
    height: 100%
    justify-content: space-between
    width: 100%

    .divFooterLeft
      align-items: center
      display: flex
      flex-direction: column
      height: 100%
      justify-content: center
      width: 30%

    .divFooterCenter
      align-items: center
      border-right: 1px solid rgb(0, 202, 255, 0.3)
      border-left: 1px solid rgb(0, 202, 255, 0.3)
      display: flex
      flex-direction: column
      height: 85%
      justify-content: center
      width: 39%

    .divFooterRight
      display: flex
      flex-direction: column
      height: 100%
      justify-content: center
      width: 30%

    .span1Footer
      @include small-screen

    .pFooter
      @include small-screen
        padding-top: 1rem
        padding-bottom: 0.7rem
