@use '../variables'
@import '../mixins'

#footerAll
  // border: 3px dashed white
  align-items: center
  align-content: center
  background-color: variables.$bg-color-secondary
  color: variables.$text-color
  display: flex
  flex-direction: column
  height: 20%
  justify-content: flex-end
  // margin-left: 4rem
  width: 100% !important
  @include small-screen
    border: 1px solid orange
    height: 30%

  .divFooter
    @include small-screen
      margin-top: 2rem
      // font-size: 10rem

    .span1Footer
      @include small-screen

    .pFooter
      @include small-screen
        padding-top: 1rem
        padding-bottom: 0.7rem