@use '../variables'
@import '../mixins'

.allHeader
  display: flex
  height: 10rem
  flex-wrap: wrap
  height: auto
  width: 100%
  @include small-screen
    border: 1.5px solid white
    align-content: center
    align-items: center
    flex-direction: column
    // margin-top: 1rem

  .menuIconInHeader
    height: 3rem
    width: 100%

  .h1DivHeader
    align-items: center
    display: flex
    flex-direction: row
    height: auto
    justify-content: center
    width: 90%
    @include small-screen
      flex-direction: column
      margin: 2rem 0 0 0
      width: 100%

  .imgPegasus
    width: 16rem
    @include small-screen
      width: 13rem

  .h1Header
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-family: variables.$font-secondary
    font-weight: 600
    font-size: 7.5vh
    letter-spacing: 0.8rem
    opacity: 1
    @include small-screen
      font-size: 3.5vh