@use '../variables'
@import '../mixins'

.sumIndex
  color: variables.$text-color-secondary
  width: 100%
  @include small-screen
    border:5px double blue
    display: flex
    flex-direction: column
    flex-wrap: wrap
    margin: 0
    padding: 0
    width: 100% !important

  .body-site
    display: flex
    flex-direction: column
    height: auto
    justify-content: center
    width: 100%
    @include small-screen
      background-color: #ffffff5d

    .firstNotebook-index
      position: relative

    .firstNotebook-index ::before
      content: ""
      background-image: url(../../images/noteApple.jpg)
      opacity: 0.03
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      z-index: -10