@use '../variables'

.sumIndex
  // border:5px double blue
  color: variables.$text-color-secondary
  width: 100%

  .body-site
    display: flex
    flex-direction: column
    height: auto
    justify-content: center
    width: 100%