.loaderContainer
  align-content: center
  // border: 1px solid yellow
  align-self: center
  display: flex
  height: 20vw
  justify-content: center
  width: 100vw
  flex-direction: column

  .loader
    align-items: center
    width: 16em

  .h1Name
    align-items: center
    align-items: center