.loaderContainer
  align-content: center
  // border: 1px solid yellow
  align-self: center
  display: flex
  height: 100%
  justify-content: center
  width: 100%
  flex-direction: column

  .loader
    align-self: center
    width: 16em

  .h1Name
    align-self: center