@use '../variables'
@use '../mixins'

.divProjetoG
  align-content: center
  color: variables.$text-color-secondary
  display: flex
  flex-direction: column
  gap: 20px
  height: 50px auto
  justify-content: center
  width: 99vw

  .h2ProjetosGithub
    align-items: center
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    height: 15vh
    display: flex
    justify-content: center
    font-size: 3rem
    font-family: variables.$font-tercery
    text-align: center

  .divMainProjetos
    display: flex
    height: auto
    justify-content: center
    margin-left: 5.5vw
    width: 94.5% !important

    .loadingProjetosGithub
      align-content: center
      align-items: center
      display: flex
      flex-direction: column
      height: auto
      justify-content: center
      width: 35vw

    .divUserGit
      align-items: center
      display: flex
      flex-direction: column
      gap: 2rem
      justify-content: center
      height: auto !important
      width: 100%
      border: 0.5vh solid variables.$text-color-third
      border-radius: variables.$card-border-radius
      hr
        width: 80%
        border: 0.5vh solid variables.$text-color-third
        border-radius: variables.$card-border-radius

      .h1Name
        color: variables.$text-color-secondary
        font-size: 40px
        margin-top: 3vh
        text-align: center
        width: 100%

      .imgUser
        border-radius: 2rem

      .pBioGitUser
        text-align: justify
        width: 80%

      .magicMakerP
        font-size: 1.4rem
        font-weight: 600
        font-family: variables.$font-secondary

  .divMainProjetos
    display: flex
    flex-direction: row
    width: 100%

    .divProjectGit
      align-items: center
      border: 2px dotted gold
      display: flex
      flex-direction: row
      flex-grow: 1
      flex-wrap: wrap
      justify-content: space-evenly
      gap: 50px
      width: 65vw

    .divProjectMap
      display: flex
      border: 0.2em solid variables.$text-color-third
      border-radius: variables.$card-border-radius
      color: variables.$text-color-secondary
      flex-direction: row
      flex-wrap: wrap
      height: 25em
      // opacity: 1
      width: 19em

      .divCards
        // border: 3px solid green
        display: flex
        flex-direction: column
        justify-content: center
        width: 20em
        text-align: center

      // .divCards:hover
      //   background: #3b3b3bc7
      //   border: 0.2em solid variables.$text-color-third
      //   border-radius: variables.$card-border-radius
      //   height: 110%
      //   width: 110%
      //   opacity: 1
      //   transform: scale(1.05)
      //   background-position: -60px
      //   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(29, 17, 17, 0.23)

        .cardHeader
          // border: 1px solid white
          height: 8em

        .hrLineProj
          border: 0.1em solid variables.$text-color-third
          opacity: 1
          // border-radius: 0 0 50px 50px
          // width: 90%

      a
        transition: 0.3s
        color: variables.$text-color
        text-decoration: none

  .divRepProjGithub
    align-items: center
    display: flex
    flex-direction: column
    gap: 3vh
    justify-content: center

    .btnReposit
      align-content: center
      align-items: center
      border: 1px solid variables.$text-color-third
      border-radius: 1vh
      display: flex
      height: 5vh
      justify-content: center
      margin-bottom: 3vh
      width: 80%

    .btnReposit:hover
      transform: scale(1.2, 1.2)
      border-radius: 0 0 2vh 2vh

    .btnReposit a
      color: white
