@use '../variables'

.divProjetoG
  border: 3px solid white
  color: variables.$font-primary
  height: 50px auto
  width: 20%

  .divProjectMap
    border: 1px solid yellow
    width: 60%
    height: auto