@use '../../Styles/variables'
@import '../../Styles/mixins'

.loadingProjetosFullgit
  align-items: center
  display: flex
  justify-content: center
  flex-direction: column

.firstDivFullGit
  display: flex
  flex-direction: column
  height: 100%
  width: 99vw

.h2ProjectFullGit
  align-items: center
  color: variables.$text-color
  display: flex
  font-size: 4rem
  height: 15vh
  justify-content: center
  font-family: variables.$font-tercery
  @include small-screen
    font-size: variables.$font-size-mobile-Title-2
  @include medium-screen
    font-size: variables.$font-size-mobile-Title-2

.divMainProjetosF
  // background-color: rgb(255, 255, 255, 0.2)
  display: flex
  margin-left: 5vw
  padding-bottom: 20vh
  padding-top: 10vh
  width: 95%
  @include small-screen
    margin: 0
    width: 100vw
  @include medium-screen
    margin: 0
    width: 100vw

  .divProjectF
    align-items: center
    display: flex
    flex-grow: 1
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 5vh 0
    @include small-screen
      width: 100vw
    @include medium-screen
      width: 100vw


    .divRenderPFG
      border: 0.5vw solid variables.$text-color-third
      border-radius: variables.$container-border-radius
      height: 80vh
      width: 40%
      @include small-screen
        height: 100vh
        width: 90vw
      @include medium-screen
        height: 100vh
        width: 90vw

      .cardHeader
        background-color: rgb(255, 0, 0, 0.05)
        display: flex
        flex-direction: column
        height: 30vh
        width: 100%

        .h1NamePFG
          color: variables.$text-color
          font-family: variables.$font-primary
          font-size: 2.2rem
          padding: 1rem
          text-align: center
          text-transform: capitalize
          @include small-screen
            font-size: variables.$font-size-mobile-Title-2
            padding: 0.5rem
          @include medium-screen
            font-size: variables.$font-size-mobile-Title-2
            padding: 0.5rem

        .stackCretedAsPFG
          align-items: center
          display: flex
          justify-content: center
          @include small-screen
            flex-direction: column
            height: 100%
            justify-content: flex-start
            margin: 1vh 0
          @include medium-screen
            flex-direction: column
            height: 100%
            justify-content: flex-start
            margin: 1vh 0

          .divTopicosPFG
            height: 100%
            width: 80%
            @include small-screen
              width: 90%
            @include medium-screen
              width: 90%

            .h1StacksPFG
              color: variables.$text-color-secondary
              @include small-screen
                font-size: variables.$font-size-mobile-Normal
                margin-top: 0.5vh
              @include medium-screen
                margin-top: 0.5vh
                font-size: variables.$font-size-mobile-Normal

            .divStacks
              align-items: center
              height: 17vh
              display: flex
              flex-wrap: wrap
              width: 100%
              @include small-screen
                height: 14vh
                align-items: flex-start
                flex-direction: column
              @include medium-screen
                height: 14vh
                align-items: flex-start
                flex-direction: column

              .list-group-PFG
                max-height: 2rem
                width: 33%
                @include small-screen
                  display: flex
                  flex-wrap: wrap
                  width: 43vw
                  list-style: square
                  margin: 0.5vh 0.7vh 
                @include medium-screen
                  display: flex
                  flex-wrap: wrap
                  width: 43vw
                  list-style: square
                  margin: 0.5vh 0.7vh 

            .list-group-item-stacksPFG
              color: variables.$text-color
              text-transform: capitalize
              font-family: variables.$font-secondary
              font-size: 1.1rem
              @include small-screen
                font-size: variables.$font-size-mobile-Normal
              @include medium-screen
                font-size: variables.$font-size-mobile-Normal

          .cardCriadoPFG
            color: variables.$text-color-secondary
            font-size: 1rem
            font-family: variables.$font-secondary
            @include small-screen
              font-size: variables.$font-size-mobile-Normal
            @include medium-screen
              font-size: variables.$font-size-mobile-Normal

          .dataCriadoPFG
            color: variables.$text-color
            font-family: variables.$font-primary
            font-size: 1.4rem
            font-weight: 600
            margin-top: 0.5rem
            text-align: center
            @include small-screen
              font-size: variables.$font-size-mobile-Title-2
            @include medium-screen
              font-size: variables.$font-size-mobile-Title-2

      .hrDivisory
        border: 0.1vh solid variables.$text-color-third

      .divMainCardPFG
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center

      .predominanteDivPFG
        align-items: center
        height: 10vh
        display: flex
        flex-direction: column
        justify-content: center

        .predominantePPFG
          color: variables.$text-color-secondary
          font-family: variables.$font-secondary
          font-size: 1.2rem
          @include small-screen
            font-size: variables.$font-size-mobile-Normal
          @include medium-screen
            font-size: variables.$font-size-mobile-Normal

        .predominanteH5PFG
          color: variables.$text-color
          font-family: variables.$font-primary
          font-size: 1.5rem
          padding: 0.5rem
          font-weight: 600
          text-transform: capitalize
          @include small-screen
            font-size: variables.$font-size-mobile-Title-2
          @include medium-screen
            font-size: variables.$font-size-mobile-Title-2

      .divPDescricaoPFG
        height: auto
        width: 90%

        .pDescricaoPFG
          color: variables.$text-color-secondary
          font-family: variables.$font-secondary
          font-size: 1.2rem
          text-indent: 1.5vw
          @include small-screen
            font-size: variables.$font-size-mobile-Normal
            text-indent: 1vw
          @include medium-screen
            font-size: variables.$font-size-mobile-Normal
            text-indent: 1vw

      .divCodigoPFG
        align-items: center
        display: flex
        flex-direction: column
        padding: 1vh 0
        justify-content: center
        height: auto
        width: 100%

        .pCodigoPFG
          color: variables.$text-color-secondary
          font-family: variables.$font-secondary
          font-size: 1.1rem
          margin-bottom: 1.5vh
          @include small-screen
            font-size: variables.$font-size-mobile-Normal
          @include medium-screen
            font-size: variables.$font-size-mobile-Normal

        .btnCodigoPFG
          align-items: center
          border: 1px solid variables.$text-color-third
          border-radius: variables.$card-border-radius
          display: flex
          justify-content: center
          height: 5vh
          width: 10vw
          @include small-screen
            width: 80%
          @include medium-screen
            width: 80%

        .btnCodigoPFG:hover
          scale: 1.1
          transition: transform 0.5s ease

        .aCodigoPFG
          align-items: center
          font-family: variables.$font-primary
          color: variables.$color-boot
          display: flex
          justify-content: center
          font-size: 1.2rem
          height: 100%
          width: 100%
          cursor: pointer

      .goHomeDiv
        align-items: center
        display: flex
        justify-content: center
        height: 15vh
        width: 100%

        .aplicPlay
          align-items: center
          height: 100%
          display: flex
          justify-content: center
          width: 75%

          .divPlayPFG
            align-items: center
            display: flex
            flex-direction: column
            justify-content: center
            height: 100%
            width: 100%
            gap: 2vh
            @include small-screen
              margin-top: 2vh
            @include medium-screen
              margin-top: 2vh

            .pPlayPFG
              color: variables.$text-color-secondary
              font-family: variables.$font-secondary
              font-size: 1.1rem
              @include small-screen
                font-size: variables.$font-size-mobile-Normal
                text-align: center
                padding: 1vh 0
              @include medium-screen
                font-size: variables.$font-size-mobile-Normal
                text-align: center
                padding: 1vh 0

            #PlayIconPFG
              color: variables.$color-boot
              height: auto !important
              width: 4rem !important
