.languageSeal__container
    align-items: center
    display: flex
    height: 25%
    justify-content: space-around
    max-width: 95%
    min-width: 90%

    .languageSeal__image
        border-radius: 1.2rem
        height: auto
        max-height: 100%
        max-width: 45%
        width: auto