@use '../../../Styles/variables'
@import '../../../Styles/mixins'

.firstDivMobile
  display: flex
  flex-direction: column
  width: 100%

  .h2Stack2
    align-items: center
    display: flex
    font-size: 32px
    height: 10vh
    margin-left: 6vw
    width: 90%

  .divStacksContentMobile
    align-items: center
    height: 18vh
    display: flex
    justify-content: space-around

    .divStackUnitMobile
      align-items: center
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      width: 18%