@use 'variables'

*
  box-sizing: border-box
  font-family: variables.$font-primary
  margin: 0
  padding: 0

  // box-sizing é para os elementos nao passarem o tamanho da borda

body
  background: variables.$body-bg-color

a, svg
  transition: 0.4s

    //Reset do estilo padrão dos links
a:link,
a:visited,
a:hover,
a:active
  color: inherit  //Mantém a cor padrão do texto para os links
  text-decoration: none  //Remove a sublinhado padrão dos links
