$body-bg-color: #271b31
$bg-color: #111
$bg-color-secondary: #1d1d1d
$container-border-radius: 10px
$card-border-radius: 5px
$color-orange: #f15424
$color-orange-dark: #dd2910
$color-red: #ff0059
$font-primary: 'Noto Sans Display', sans-serif
$font-secondary: 'Roboto Serif', serif
$full-border-radius: 50px
$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 100%)
$gradient-2: linear-gradient(90deg, rgb(255, 255, 255, 1) 0%, rgba(255,242,9,1) 100%)
$text-color: #fff
$text-color-secondary: #a6a6a6
$text-color-third: #00caff
$image-note1: url('../images/noteApple.jpg')

/* Screens */

$mobile-breakpoint: 480px

$tablet-breakpoint: 768px

$desktop-breakpoint: 1024px

$smart-tv: 1440px
