@use '../variables'

.divImgNoteb
  opacity: 1
  display: flex
  justify-content: center
  height: auto
  padding-top: 5rem
  padding-bottom: 5rem
  width: 99vw

  .pImgNote
    color: variables.$text-color-secondary
    padding: 2rem
    width: 75vw

    // .title
    //   padding-bottom: 1rem
    //   color: variables.$text-color

    // .pNote
    //   text-indent: 6vh
    //   text-align: justify

      cite
        font-size: 2.3rem

  .imgNote
    border-radius: variables.$full-border-radius
    height: 30vh
    width: auto

  .p-saudacao
    opacity: 1
    color: #fff
    font-size: 1.5rem
    font-family: variables.$font-secondary
    line-height: 2.8rem
    text-align: justify
    text-indent: 5vw