@use '../variables'
@import '../mixins'

.divStacksPrinc
  align-content: center
  align-items: flex-end
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center
  margin-top: 10vh
  width: 99vw
  @include small-screen
    padding-bottom: 5vh
    width: 100vw
  @include medium-screen
    padding-bottom: 5vh
    width: 100vw

  .h1PStacks
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-family: variables.$font-secondary
    font-size: 40px
    height: auto
    margin-top: 5vh
    margin-bottom: 8vh
    order: 0
    text-align: center
    width: 100%
    @include small-screen
      font-size: variables.$font-size-mobile-Title-2
    @include medium-screen
      font-size: variables.$font-size-mobile-Title-2

  .divHardskills1
    display: flex
    justify-content: space-between
    width: 94%
    @include small-screen
      align-items: center
      flex-direction: column
      height: auto
      justify-content: center
      width: 100vw
    @include medium-screen
      align-items: center
      flex-direction: column
      height: auto
      justify-content: center
      width: 100vw

    .divFrontend
      border-radius: variables.$card-border-radius
      width: 32%
      border: none
      @include small-screen
        width: 95vw
      @include medium-screen
        width: 95vw

    .divBackend
      border-right: 0.5vh solid rgb(0, 202, 255, 0.2)
      border-left: 0.5vh solid rgb(0, 202, 255, 0.2)
      border-radius: variables.$card-border-radius
      width: 32%
      @include small-screen
        border: none
        height: 60vh
        width: 95vw
      @include medium-screen
        border: none
        height: 60vh
        width: 95vw

    .divDatabase
      border-radius: variables.$card-border-radius
      width: 32%
      @include small-screen
        border: none
        height: 60vh
        width: 95vw
      @include medium-screen
        border: none
        height: 60vh
        width: 95vw

  hr 
    border: 1px solid rgb(0, 202, 255, 0.2)
    margin: 2vw 0 0 9vw
    width: 80%

  .divHardSkills2
    display: flex
    flex-direction: column
    height: 100%
    width: 94%
    @include small-screen
      width: 100%
    @include medium-screen
      width: 100%

    .divDevops
      align-items: center
      height: 100%
      width: 100%
      display: flex
      justify-content: flex-end

    .divMobile
      height: 50%
      width: 100%

  .divSoftskills
    display: flex
    flex-direction: column
    height: 100%
    width: 94%
    @include small-screen
      width: 100vw
    @include medium-screen
      width: 100vw

  .divH3PS
    align-self: center
    color: variables.$text-color
    margin-bottom: 10vh
    @include small-screen
      margin-bottom: 15vh
      text-align: center
    @include medium-screen
      margin-bottom: 15vh
      text-align: center
