@use '../variables'
@import '../mixins'

.divStacksPrinc
  align-content: center
  align-items: flex-end
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center
  margin-top: 10vh
  width: 99vw

  .h1PStacks
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-family: variables.$font-secondary
    font-size: 40px
    height: auto
    margin-top: 5vh
    margin-bottom: 8vh
    order: 0
    text-align: center
    width: 100%

  .divHardskills1
    display: flex
    justify-content: space-between
    width: 94%

    .divFrontend
      border-radius: variables.$card-border-radius
      width: 32%

    .divBackend
      border-right: 0.5vh solid rgb(0, 202, 255, 0.2)
      border-left: 0.5vh solid rgb(0, 202, 255, 0.2)
      border-radius: variables.$card-border-radius
      width: 32%

    .divDatabase
      border-radius: variables.$card-border-radius
      width: 32%

  hr 
    border: 1px solid rgb(0, 202, 255, 0.2)
    margin: 2vw 0 0 9vw
    width: 80%

  .divHardSkills2
    display: flex
    flex-direction: column
    height: 100%
    width: 94%

    .divDevops
      height: 50%
      width: 100%

    .divMobile
      height: 50%
      width: 100%

  .divSoftskills
    display: flex
    flex-direction: column
    height: 100%
    width: 94%

  .divH3PS
    align-self: center
    color: variables.$text-color
    margin-bottom: 10vh
